.row {
  margin-bottom: 0px;
}

.sequence-select-container{
  margin-top: 50px;
}

button {
  -webkit-app-region: no-drag;
}

html{
  -webkit-app-region: drag;
}

html, body {
  height: 100%;
  width:  100%;
  margin: 0;
  font-family: "M PLUS 1p";
}

.button-flat{
  @extend .btn-flat !optional;
  @extend .btn-small !optional; 
}